# common files
.#*
*.log
.DS_Store

# files
**/sounds/

# common directories
**/node_modules/
**/storage/
**/artifacts/
**/dataset/
**/dataset-queue/

# specific directories
**/.ps_project/
**/sounds/



